/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-525beab6-3x7doyyd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd.master.item-box   {
		
						position: relative;
						
						background-color: rgba(0, 0, 0, 0.62);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: right;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 17px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 17px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
						
						margin-left: 0px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-title  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-body h1  { font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-item-links.allow-bg-color  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 50px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-item-links span:before  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .effect-tester  { 
						background-color: rgb(181, 181, 181);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-525beab6-3x7doyyd .preview-body h2  { font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-00b1817a-nwc1tv8a version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-title  ,  .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 400px;
						
						margin-right: 25px;
						
						margin-top: 25px;
						
						margin-left: 25px;
						
						margin-bottom: 25px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(237, 237, 237);
						
						padding-bottom: 15px;
						
						border-color: rgb(99, 99, 99);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 40px;
						
						margin-left: 5px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(56, 110, 166, 0.77);
						
						padding-right: 20px;
						
						padding-left: 20px;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(255, 248, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .stripe-background  {
		
						margin-top: -70px;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-00b1817a-nwc1tv8a .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(177, 177, 177);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9e6ca185-bujbhwdk version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 450px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						width: 100%;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .inner-pic  {
		
						opacity: 0.27;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .background-div  {
			
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-title  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 35rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						margin-right: 10px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						padding-right: 10px;
						
						margin-top: 30px;
						
						padding-left: 10px;
						
						border-radius: 16px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0.77);
						
						margin-left: 10px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-element.Link.hover-tester  { 
						color: rgb(188, 188, 188);
						
						background-color: rgba(0, 0, 0, 0.77);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-item-links span:before  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .effect-tester  { 
						background-color: rgb(0, 255, 237);
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 5px;
						
						font-family: Arial;
							
		}
	
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-9e6ca185-bujbhwdk .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-9e6ca185-bujbhwdk #vbid-9e6ca185-pqxsxxtw .preview-content-holder{
				
							text-align : center;
					
				}


 .style-9e6ca185-bujbhwdk #vbid-9e6ca185-yfavglr6.inner-pic{
				
							background-position : 50% 50%;
					
				}











 .style-9e6ca185-bujbhwdk #vbid-9e6ca185-pqxsxxtw .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-525beab6-dpvngjl4 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-title  ,  .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-bottom: 10px;
						
						font-family: open-sans;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4  .preview-content-holder  {
		
						max-width: 800px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 #sr-basket-widget *  { 
						font-style: italic;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(221, 221, 221);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Times New Roman;
						
						background-color: rgb(159, 14, 14);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(232, 232, 232, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(166, 166, 166);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-dpvngjl4 .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/












/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-05aaa869-w0amqlym version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .title-holder  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .Title  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym  .preview-content-holder  {
		
						margin-right: 20px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 2000px;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						padding-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgb(221, 221, 221);
						
						margin-left: 20px;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-divider  {
		
						border-color: rgb(198, 198, 185);
						
						border-bottom-width: 2px;
						
						width: 25%;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: Times New Roman;
							
		}
	
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-item-links .Link:hover  {
		
						color: rgb(50, 158, 212);
						
						background-color: rgb(74, 74, 74);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .background-div  {
		
						opacity: 0.1;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym.master.item-box   {
		
						background-color: rgb(42, 42, 42);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-title  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-body h1  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 28rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						margin-top: 20px;
						
						margin-bottom: 20px;
						
						line-height: 1.3em;
						
						background-color: rgba(168, 168, 168, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 0px;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-body  {
		
						color: rgb(136, 136, 136);
						
						line-height: 1.3em;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .stripe-background  {
		
						margin-top: -35px;
						
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						border-color: rgb(166, 166, 166);
						
						width: 60px;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-content-holder  {
		
						margin-bottom: 15px;
						
						text-align: center;
						
						margin-top: 15px;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .Subtitle  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-subtitle  {
		
						color: rgb(168, 168, 168);
						
						margin-bottom: 5px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-top: 5px;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-item-links span:before  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .effect-tester  { 
						background-color: rgb(0, 255, 237);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-divider  {
		
						border-color: rgb(136, 136, 136);
							
		}
	
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-icon-holder .icon-source  {
		
						margin-bottom: 0px;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-body  {
		
						line-height: 1.1em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(136, 136, 136);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgb(136, 136, 136);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .pic-side:after  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .item-effect-tester  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-05aaa869-w0amqlym .preview-body h2  { 
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-525beab6-cin8kdzm version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm.master.item-box   {
		
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-title  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 55rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						font-weight: bold;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-item-links span:before  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .effect-tester  { 
						background-color: rgb(0, 255, 237);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .inner-pic-holder  {
		
						background-color: rgb(73, 73, 73);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm  .preview-content-holder  {
		
						border-color: rgb(241, 241, 241);
						
						max-width: 750px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(159, 159, 159);
						
						padding-bottom: 10px;
						
						border-color: rgb(195, 195, 195);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .item-content:not(.blocks_layout)  {
		
						background-color: rgb(46, 46, 46);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .inner-pic  {
		
						opacity: 0.2;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 5px;
						
						font-family: Arial;
							
		}
	
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm  .preview-content-wrapper  {
		
						vertical-align: middle;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .background-div  {
			
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-525beab6-cin8kdzm .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-525beab6-cin8kdzm #vbid-525beab6-uupfrgkm .preview-content-holder{
				
							text-align : center;
					
				} .style-525beab6-cin8kdzm #vbid-525beab6-iu6rkbtq .preview-content-holder{
				
							text-align : center;
					
				} .style-525beab6-cin8kdzm #vbid-525beab6-mdp6ka4l .preview-content-holder{
				
							text-align : center;
					
				}










 .style-525beab6-cin8kdzm #vbid-525beab6-uupfrgkm .preview-content-wrapper{
				
							text-align : center;
					
				} .style-525beab6-cin8kdzm #vbid-525beab6-iu6rkbtq .preview-content-wrapper{
				
							text-align : center;
					
				} .style-525beab6-cin8kdzm #vbid-525beab6-mdp6ka4l .preview-content-wrapper{
				
							text-align : center;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-39a9c2b0-k2kudjdw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .title-holder  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .Title  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw  .preview-content-holder  {
		
						text-align: left;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .background-div  {
			
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-title  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(67, 67, 67);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						line-height: 0.9em;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: -0.0em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 0px;
						
						background-color: rgb(0, 0, 0);
							
		}
	
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .stripe-background  {
		
						opacity: 0.5;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -40px;
						
						margin-left: -6%;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-element.icon-source  {
		
						padding-top: 0px;
						
						width: 40px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: left;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .Subtitle  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-item-links span:before  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: bottom;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-item-links span:hover  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(106, 106, 106);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-divider  {
		
						margin-bottom: 5px;
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(74, 74, 74);
						
						max-width: 500px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .pic-side:after  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .item-effect-tester  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-39a9c2b0-k2kudjdw .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-39a9c2b0-k2kudjdw #vbid-39a9c2b0-dbheynhz.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-39a9c2b0-k2kudjdw #vbid-39a9c2b0-suohfumd.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				} .style-39a9c2b0-k2kudjdw #vbid-39a9c2b0-7rssbgkg.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-525beab6-htrfvrjy version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-title  ,  .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Oswald;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-link-img  {
		
						width: 30px;
						
						margin: 5px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-subtitle  ,  .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0.77);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy  .preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						background-color: rgba(246, 239, 217, 0);
						
						margin-left: 0px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-item-links span  ,  .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-element.icon-source  {
		
						padding-right: 0px;
						
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						padding-left: 0px;
						
						width: 60px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .middle_layout .helper-div  ,  .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-525beab6-a9ao86jo .style-525beab6-htrfvrjy .background-div  {
		
						color: rgb(0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-525beab6-a9ao86jo version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-525beab6-a9ao86jo .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-525beab6-a9ao86jo .Subtitle  ,  .master .style-525beab6-a9ao86jo .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-525beab6-a9ao86jo .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-525beab6-a9ao86jo .Title  ,  .master .style-525beab6-a9ao86jo .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-525beab6-a9ao86jo .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-525beab6-a9ao86jo .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-525beab6-a9ao86jo .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-525beab6-a9ao86jo .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-525beab6-a9ao86jo .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-525beab6-a9ao86jo .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-525beab6-a9ao86jo .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-525beab6-a9ao86jo.master.container > #children  {
		
						background-color: rgb(0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: 'Playfair Display';
				
						letter-spacing: 0.0em;
				
						line-height: 1.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						letter-spacing: -0.0em;
				
						border-radius: 15px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: -0.0em;
				
						direction: ltr;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						line-height: 1.4em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 82px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(0, 0, 0);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 132px)!important;
					
		}